.flex{
    display:flex;
    border: solid 5px #826a98;
    width: 800px;
   
}

#flex-1{
    background-color:#DDA0DD;
    padding: 20px;
    flex-shrink: 2;
}
#flex-2{
    background-color:#BF94E4;
    padding: 20px;
    flex-shrink: 4;

}
#flex-3{
    background-color:#734F96;
    padding: 20px;
    flex-basis: 200px;
}
#flex-4{
    background-color:#FBAED2;
    padding: 20px;
    flex-basis: 7%;
    
}
#flex-5{
    background-color:#EE82EE;
    padding: 20px;
    flex-basis: 400px;
}
