body {
    text-align: center ;
    margin: 200px;
}
.flex {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.circle {
    background-color: #817d7d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}