*{
    margin: 0%;
    overflow-x: hidden;
}
.flex1{
    display: flex;
    justify-content: space-between;
    background-color: rgba(12, 1, 1, 0.5);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
}
.flex1 img{
    width: 40px;
}
.flex1 a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    justify-content: center;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(./Cafe3.jpeg) center / cover no-repeat;
    height:600px;
    position: fixed;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    text-align: center;
}
.flex2{
    display: flex;
    justify-content: space-around;
}
.flex2 img{
    width: 40px;
}
.flex2 div{
    padding: 40px;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius:50px ;
}
.flex2 h3{
    color: rgb(94, 30, 30);
}
.flex2 div:hover{
    color: white;
    background-color: rgb(94, 30, 30);
}
.flex3{
    display: flex;
    
}
.flex3 span{
    color: brown;
}
.flex3 a{
    text-decoration: none;
    color: black;
    border:brown solid 3px;
    padding: 15px;
    font-weight: 800;
}
.flex3 a:hover{
    color: white;
    background-color: brown;
}
.text{
    padding: 80px 30px;
    font-size: large;
}
.fkex3 video{
    width: 520px;
    height: 440px;
    border-radius:5px;
}
.background2{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(./Cafe1\ \(1\).jpg) center / cover no-repeat;
    height:200px;
    position: fixed;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    text-align: center;
} 

.pos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background2 div{
    z-index: 3;
    color: azure;
    justify-content: center;
    align-items: center;
}
.pos p{
    color: red;
    font-size: xx-large;
}
.cards div{
    display: flex;
    justify-content: space-around;
}
.cards img{
    width: 180px;
    height: 350px;
    box-shadow:  4px 4px 15px rgb(84, 83, 83);
    border-radius: 20px;
}
form input{
    border: none;
}
.form-layout{
    width: 550px;
}
.form-layout h2{
    color: red;
    margin-left: 25px;
}
form button{
    text-align: right;
}
textarea{
    width: 500px;
    height: 100px;
}
input{
    margin-left: 15px;
    margin-bottom: 10px;
}
form{
    margin-left: 30px;
}
button{
    padding: 10px 25px;
    margin-left: 385px;
    font-size: large;
}
button:hover{
    color: white;
    background-color: red;
    border-radius: 4px;
    border: none;
}
.flex6{
    display: flex;
    justify-content: space-around;
    margin-right:100px
}
.flex6 h2{
    color: red;
}
.background3{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(map4.jpeg) center / cover no-repeat;
    height:200px;
    position: fixed;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    text-align: center;
}
.background3 div{
    z-index: 3;
    color: azure;
    justify-content: center;
    align-items: center;
}
.bg-image{
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
}
footer{
    margin-left: 350px;
}
footer img{
    width: 30px;
    padding: 15px;
}
footer p{
    color: grey;
    margin-left:30px;
}
footer a{
    color: gray;
    text-decoration: none;
}
footer span:hover{
    color: brown;
}
