*{
    margin: 0%;
}.background{
    background: linear-gradient(
        to top,
        rgba(247, 66, 127, 0.8) 0%,
        rgba(249, 171, 114, 0.8) 100%
      ),
      url(header-bg.jpg) no-repeat fixed;
    background-size: cover;
    height: 800px;
}
.background h1{
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.15em;
    padding-top: 250px;
}
.background a{
    text-align: center;
    justify-content: center;
    margin-left: 500px;
    font-size: larger;
    text-decoration: none;
    background-color: #fff;
    padding:  10px 30px;
    border-radius: 50px;
    color: black;
}
.background a:hover{
    background-color: black;
    color: #fff;
    transition-duration: 0.8s;
}
.flex1{
    display: flex;
    justify-content: space-between;
}
header{
    padding: 20px 0px;
    position: fixed;
   background-color: white;
   width: 100%;
   z-index: 1;
}
.platina{
    border-top: 1px solid black;
    border-bottom:1px solid black ;
    font-size: x-large;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:  40px;
}
.flex1 a{
    color: black;
    text-decoration: none;
    margin-right: 50px;
    font-weight: 500;
}
.flex1 a:hover{
    color: #fd08a7;
}

img{
    width: 280px;
}
.flex2{
    display: flex;
    justify-content: space-around;
    
}
.flex2 img{
    width: 280px;
    height: auto;
}
.flex3{
    display: flex;
    background-color: rgb(49, 48, 48);
    color:white;
    margin: 0%;
}

.button2{
    background-color: white;
    background-color: rgb(49, 48, 48);
    border: white 1px solid;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    padding: 15px;
    font-size:90%;

}
.image2{
    width: 500px;
    height: 450px;
}
.about{
    padding: 50px;
}
.about h2{
    background:-webkit-linear-gradient(bottom, #f62e71 0%, #f9ab72 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 170%;
}
.about p{
    color: #777777;
}

.button2:hover{
    background-color: white;
    color: rgb(49, 48, 48);
}
.text{
    text-align: center;
    padding: 50px;

}
p{
    color: #777777;
}
.text h1{
    font-size:250%;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex4{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.flex4 div{
    width: 280px;
} 
.flex4 div:hover i{
    background:-webkit-linear-gradient(bottom, #f62e71 0%, #f9ab72 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.flex4 i{
    font-size: xx-large;
    padding: 20px 0px;
    color: #9c9a9a ;
}
.flex4 p{
    color: #777777;
}
.flex5{
    display: flex;
    margin-right: 0%;
}
.flex5 img{
    width: 200px;
}

.container {
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient( #f9ab72,  #f62e71);
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
  
.container:hover .overlay {
    height: 100%;
  }
  
.word {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .image1 {
    display: flex;
    display: block;
    width: 228px;
    height: 250px;
}
form{
    display: flex;
    margin-left: 200px;
}
td{
    padding: 10px;
}

.option1{
    padding-right: 65px;
    color: #777777;
}
.option2{
    padding-right: 30px;
    color: #777777;
}
.option3{
    padding-right: 103px;
    color: #777777;
}
.option4{
    padding-right:105px ;
    color: #777777;
}
.form a{
     background-image:-webkit-linear-gradient(#f62e71 0%, #f9ab72 100%);
     color: white;
     padding: 10px;
     border: none;
     border-radius: 50px;
     margin-left: 350px;
     display: block;
     width: 150px;
}
button:hover span{
    transform: translate(0,50px);
}
.form{
    box-shadow: 2px 2px 20px #777777;
    width: 900px;
    margin-left: 150px;
}
.flex6{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    text-align: center;
    background-color:  #f9f9ff;
    height: 200px;

}
footer{
    background-color: #222222;
     padding:  150px 0px;
}
h3{
    color:#f9f9ff;
    font-size:small;
}
.flex-outer button{
    color: white;
    background:-webkit-linear-gradient(bottom, #f62e71 0%, #f9ab72 100%) ;
    border: none;
    height: 23px;
}
.flex-inner{
    display: flex;
    flex-direction: column;
}
.flex-inner div{
    display: flex;
    flex-direction: row;
}
.flex-inner div img{
    width: 50px;
}
.flex-outer{
    display: flex;
    justify-content: space-around;
    flex-direction : row;
    margin-top: 100px;

}
.flex-outer h2{
    color: rgb(209, 206, 206);
}
.flex-outer a{
    color: rgb(209, 206, 206);
    padding: 0px 10px;
}
.flex-outer a:hover{
    background:-webkit-linear-gradient(bottom, #f62e71 0%, #f9ab72 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
footer span{
    color: #f62e71;
} 
.statement{
    text-align: center;
    padding: 70px;
}
.containter{
    position: relative;
    width: 50%;
}
.picture{
    width: 100%;
    display: block;
}
